[submodule "nextjs-practice-demos"]
	path = nextjs-practice-demos
	url = https://github.com/Ajay-Nallanagula/nextjs-practice-demos.git
[submodule "nestjs-practice-demos"]
	path = nestjs-practice-demos
	url = https://github.com/Ajay-Nallanagula/nestjs-practice-demos.git
[submodule "system-design-notes"]
	path = system-design-notes
	url = https://github.com/Ajay-Nallanagula/system-design-notes.git
[submodule "react-redux-scratch-setup"]
	path = react-redux-scratch-setup
	url = https://github.com/Ajay-Nallanagula/react-redux-scratch-setup.git
